.cart_list {
  list-style: none;
  .cart_item {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto; 
    padding: 20px;
    background: #6B7280;
    position: relative;
    .cart_remove_item {
      position: absolute;
      right: 8px;
      top: -1px;
      font-size: 35px;
      cursor: pointer;
    }
    .cart_item_name {
      text-align: center;
    }
    .cart_item_content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .content_img {
        width: 100%;
        min-width: 100px;
        max-width: 250px;
        height: 150px;
        object-fit: cover;
      }
      .content_how{
        padding: 0 20px;
      }
      .more_less {
        display: flex;
        align-items: center;
      }
    }
  }
}

.cart_empty {
  text-align: center;
  font-size: 20px;
}

.form_fix {
  transform: translate(0px, -100px);
}

.cart_amount {
  text-align: center;
}

.cart_order {
  text-align: center;
  button {
    padding: 8px 20px;
    background: #6B7280;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
  }    
  button:hover{
    background: #4B5563;
  }
}

@media (max-width: 768px) {
  .cart_list {
    .cart_item {
      .cart_item_content {
        flex-direction: column;
        .content_img {
          margin-bottom: 20px;
        }
        .content_amount {
          margin-bottom: 20px;
        }
      }
    }
  }
}
